body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.sidebar a.active {
    background-color: #34495e;
    font-weight: bold;
}
.container {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 30px 20px;
    text-align: left;
}
.sidebar h2 {
    color: #ecf0f1;
}
.sidebar a {
    display: block;
    padding: 12px;
    color: #ecf0f1;
    margin: 10px 0;
    border-radius: 6px;
    transition: background 0.3s ease;
}
.sidebar a:hover {
    background-color: #34495e;
}
.content {

    padding: 40px;
    flex-grow: 1;
    background: #ecf0f1;
    min-height: 100vh;
}
h2 {
    color: #2c3e50;
    margin-top: 40px;
}



input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="number"], select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"], button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: #005fa3;
}

a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
}



table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 95%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

table th, table td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #0077cc;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

table tr:hover {
    background-color: #f5f5f5;
}
.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-container {
    text-align: center;
}

.button-container {
    margin-top: 20px;
}

.primary-button:hover{
    background-color: #34495e;
    transition: background 0.3s ease;
}
.secondary-button:hover{
    background-color: #34495e;
    transition: background 0.3s ease;
}
.primary-button, .secondary-button {
    padding: 12px 20px;
    margin: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.primary-button {
    background-color: #007bff;
    color: white;
}

.secondary-button {
    background-color: #6c757d;
    color: white;
}

.auth-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.auth-box input, .auth-box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}