<!DOCTYPE html>
<html>
<head>
    <title>{{ title or "Dashboard" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   
</head>
<body>
<div class="container">
    <div class="sidebar">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p><strong>{{ role.upper() }}</strong></p>
        <p>Județ: {{ user.judet }}</p>

        <a href="{{ url_for('dashboard') }}" class="{% if request.path == '/dashboard' %}active{% endif %}">🏠 Acasă</a>
        
        
      
        {% if role == "pacient" %}
        <a href="{{ url_for('cerere') }}" class="{% if request.path == '/cerere' %}active{% endif %}">📨 Trimite cerere</a>
            {% if user.approved and doctor%}
                <a href="{{ url_for('upload') }}" class="{% if request.path == '/upload' %}active{% endif %}">📤 Încarcă imagini</a>

          
                <a href="{{ url_for('rezultate') }}" class="{% if request.path == '/rezultate' %}active{% endif %}">📝 Rezultate analize</a>
            {% endif %}
        {% elif role == "doctor" %}
            <a href="{{ url_for('cereri_pacienti') }}" class="{% if request.path == '/cereri_pacienti' %}active{% endif %}">📬 Cereri pacienți</a>
            <a href="{{ url_for('pacientii_mei') }}" class="{% if request.path == '/pacientii_mei' %}active{% endif %}">🩺 Pacienții mei</a>
        {% endif %}

        <a href="{{ url_for('logout') }}">🚪 Logout</a>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
 
</div>
</div>
</body>
</html>
